/* Place your CSS styles in this file */


h1 {
    text-align: center;
    font-family: "Times new roman", sans-serif;
    font-weight: bold;
}

body {

     background-color: blanchedalmond;
}

ul {
    text-align: center;
}

img {box-align: center;}


